.faq {
    padding: 144px 0px;
    @media (max-width:1024px) {
        padding: 96px 0px;
    }
    &-margin:not(:last-child) {
        @media(max-width:1024px){
            margin-bottom: 50px;
        }
    }
    &__row {
        width: 100%;
        &-title {
            font-size: 32px;
            line-height: 42px;
            @media (max-width:1024px){
                font-size: 22px;
                line-height: 28px;
            }
        }
        &-desc {
            font-size: 20px;
            line-height: 30px;
            @media (max-width:1024px){
                font-size: 18px;
                line-height: 27px;
            }
        }
    }
    &-title {
        font-size: 64px;
        line-height: 84px;
        text-align: center;
        position: relative;
        & span {
            position: absolute;
            top: 50%;
            right: 0px;
            transform: translateY(-50%);
        }
        @media(max-width:1024px) {
            font-size: 32px;
            line-height: 42px;
        }
    }
    &-img {
        max-width: 370px;
        width: 100%;
        margin: 0px 20px;
        & img {
            max-width: 250px;
            @media(max-width:500px){
                width: 100%;
            }
        }
        @media(max-width:500px){
            max-width: 150px;
            margin: 0px;
        }
    }
    &-text {
        max-width: 405px;
        width: 100%;
        @media(max-width:500px){
            max-width: 234px;
        }
    }
    & .item__full-start {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        
    }
    & .item__full-end {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        & .item__part-reverse-space {
            @media(max-width:1024px){
                align-items: flex-end;
            }
        }
    }
    & .item__full-end-half {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
    }
    & .item__full-end-half:last-child {
        & .item__part-column {
            @media(max-width:1024px){
                flex-direction: column;
                align-items: flex-end;
            }
            & .faq-img {
                @media(max-width:1024px) {
                    align-self: center;
                }
            }
        }
    }
    & .item__part-start {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        max-width: 870px;
        justify-content: flex-start;
        @media(max-width:1024px){
            flex-direction: column;
            align-items: flex-start;
        }
        & .faq-text {
            margin-right: 50px;
        }
    }
    & .item__part-space {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        max-width: 870px;
        justify-content: space-between;
        
    }
    & .item__part-column {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 425px;
        @media(max-width:1024px){
            flex-direction: row-reverse;
            align-items: center;
            max-width: 870px;
        }
    }
    & .item__part-reverse-start {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        width: 100%;
        max-width: 870px;
        align-items: center;
        
    }
    & .item__part-reverse-space {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
        max-width: 870px;
        align-items: center;
        @media(max-width:1024px){
            flex-direction: column;
            align-items: flex-start;
        }
        & img {
            margin-left: auto;
        }
    }
    & .separator {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 50px 0px;
        & p {
            padding: 0px 50px;
            margin-bottom: 0px;
            font-size: 32px;
            line-height: 42px; 
            white-space: nowrap;
            @media(max-width:1024px){
                font-size: 22px;
                line-height: 28px;
                padding: 0px 16px;
            }
        }
    }
    & .stick {
        background: black;
    }
    & .stick:first-child {
        height: 1px;
        max-width: 840px;
        width: 100%;
    }
    & .stick:last-child {
        height: 1px;
        max-width: 560px;
        width: 100%;
    }
}