.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  padding: 12px 16px 0px 16px;
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
  }
  &__container {
    backdrop-filter: blur(14px);
    border-radius: 64px;
  }
  &__burger {
    display: none;
    cursor: pointer;
    @media(max-width: 1024px){
      display: block;
      position: relative;
      width: 56px;
      height: 56px;
      &::before, &::after {
        content: '';
        background: black;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0px;
        transition: all 0.4s ease;
      }
      &::before {
        top: 23px;
      }
      &::after {
        bottom: 19px;
      }
    }
  }
  &__burger.active-menu::before {
      transform: rotate(15deg);
      top: 27px;
  }
  &__burger.active-menu::after {
    transform: rotate(-15deg);
    bottom: 27px;
  }
  &__menu {
    height: 100%;
    transition: all 0.4s ease;
    backdrop-filter: blur(14px);
    @media(max-width:1024px){
      position: absolute;
      top: 68px;
      left: 0;
      width: 100%;
      height: max-content;
      padding: 0px 16px;
      z-index: 2;
    }
  }
  &__menu.disable {
    top: 0;
    transform: translateX(-200%);
    border-radius: 24px;
  }
  &__menu.disable.active-menu {
    transform: translateX(0%);
  }
  &__menu__body.disable {
    position: relative;
    width: 100%;
    padding: 0px 16px;
    
  }
  &__body {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    height: 72px;
    align-items: center;
    @media(max-width:1024px){
      height: 56px;
    }
  }
  &__list {
    display: flex;
    align-items: center;
    
    
    & li {
      @media(max-width:1024px){
        width: 100%;
      }
    }
    & li:not(:first-child){
      margin-left: 48px;
      @media(max-width:1024px){
        margin-left: 0px;
      }
    }
    @media(max-width:1024px){
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }
  }
  &__link {
    padding: 21px 0px 23px 0px;
    border-bottom: 1px solid transparent;
    transition: all 0.4s ease;
    font-size: 20px;
    
    &:hover {
      border-bottom: 1px solid black;
    }
    @media(max-width:1024px){
      display: block;
      width: 100%;
      padding: 16px 0px;
      border-bottom: 1px solid rgba(0,0,0, 0.1);
      font-size: 24px;
      line-height: 36px;
    }
  }
  &__wrapper{
    padding : 8px 0;
  }
}
